body{
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

footer{
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid aqua;
}

a{
  text-decoration: none;
  color:aqua;
}
h2{
  font-size: 16px;
  padding-bottom: 20px;
}