:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
body {
  background-color: #263238;
}
.card {
  width: 10rem;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover{
  color: yellow;
  cursor: pointer;
}